doctype html
html
  head
    meta(charset='utf-8')
    title= title
    script(src="/jspm_packages/system.js")
    link(rel="stylesheet", href="/css/common.css")
  body
    section(id="application")!= renderedMarkup
    section(id="application2") I AM TEST

    script(src="/config.js")
    script(src="/dist/outfile.js")

    script(type='text/javascript').
      System.config({baseURL: '/'})
      System.import('react').then(function(React) {
        window.React = React;
      })
      window.__DEV__ = true
      
      System.import('bin/browser')
