.App-nav {
  display: flex;
  padding: 0 20%;
  box-shadow: 0 0 2rem rgba(0,0,0,.5);
}
.App-nav > * {
  margin: 0;
  line-height: 2rem;
}
.App-nav a {
  border-bottom: 0;
  padding: 0 2rem;
}
.Search-results {
  background: white;
  position: absolute;
}

.App-nav a:hover {
  background: rgba(255,255,255,.3);
}
main {
  margin: 0 auto;
  width: 60%
}

a {
text-decoration: none;
color: #63524b;
border-bottom: 1px dotted #988178;
}
body, html{
  margin: 0;
}
body {
  background: #EFEBE9;
  color: #666;
}
h1,h2,h3,h4 {
  font-family: arial,verdana,helvetica,sans-serif;
  color: #795c2f
}
section + section {
  margin-top: 3rem
}
section h1 {
  color: #3c5e64;
}

.Label, .Labels > * {
  text-transform: uppercase;
  font-weight: normal;
  font-size: .7rem;
  line-height: 1.5em;
  padding: 0 .5em;
  display: inline-block;
  color: #fff;
  background: #cbab7a;
  margin: 0 .1rem;
}
.Label a, .Labels a {
  color: inherit
}
.Labels {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ministertitel {
  background: #c27883;
}
.udvalg {
  background: #9FAF90;
}
.kommission {
  background: #BF9DAF;
}
.nummer {
  background: #c5a26c;
}
